body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove qualquer espaçamento interno */
    font-family: 'Exo 2', sans-serif;
    color: rgb(68, 68, 68);
    background: rgb(245, 245, 245);
}

.nav {
    background-color: rgb(22, 73, 159);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 60px;
}

.logo {
    height: 60px;
    width: 190px;
}

.text1 {
    color: white;
    font-size: 20px; /* Ajusta o tamanho da fonte */
    margin-right: 20px; /* Dá um pequeno espaço na direita */
}

.text2{
    text-align: center;
}

.formCadastro{
    max-width: 600px; /* Define uma largura máxima menor */
    margin: 20px auto; /* Centraliza na tela */
    padding: 20px;
    background: #f8f9fa; /* Fundo leve para destacar */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%; /* Faz os inputs ocuparem toda a largura */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

fieldset {
    border: none; /* Remove a borda padrão */
    margin-bottom: 15px;
}

button {
    width: 100%;
    background-color: #16499F; /* Azul do header */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #133c80;
}


/* Estilização das abas */
.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #16499F;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.tab-button.active, .tab-button:hover {
    background-color: #133c80;
    border-radius: 5px;
}

/* Oculta os conteúdos das abas */
.tab-content {
    display: none;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Mostra apenas a aba ativa */
.tab-content.active {
    display: block;
}
